<section class="section-container" id="Inicio">
    <div class="content-banner">
        <div class="container-one">
            <img class="img-description" alt="descripcion" src="assets/images/banner_img_dark.svg">
            <button type="button" class="section-button">VER PROYECTOS</button>
        </div>
        <div class="container-two">
          <img src="assets/images/hombre_principal.svg" alt="" class="img-banner">
          <button type="button" class="second-button">VER PROYECTOS</button>
        </div>
    </div>
</section>
