<div class="container-slider">
  <div class="slider" #slider id="slider">
    <div class="slider-section">
      <div class="1">
        <img src="assets/images/angular_01.svg" alt="" class="slider-img">
        <p>Angular</p> 
      </div>
      <div class="2">
        <img src="assets/images/figma_02.svg" alt="" class="slider-img">
        <p>Figma</p>
      </div>
      <div class="3">
        <img src="assets/images/java_03.svg" alt="" class="slider-img">
        <p>Java</p>
      </div>
      <div class="4">
        <img src="assets/images/c-sharp_04.svg" alt="" class="slider-img">
        <p>C-sharp</p>
      </div>
      <div class="5">
        <img src="assets/images/mysql_05.svg" alt="" class="slider-img">
        <p>MySql</p>
      </div>
      <div class="6">
        <img src="assets/images/spring-icon_06.svg" alt="" class="slider-img">
        <p>Spring</p>
      </div> 
    </div>


    <div class="slider-section">
      <div class="7">
        <img src="assets/images/eclipse_07.svg" alt="" class="slider-img">
        <p>Eclipse</p>
      </div>
      <div class="8">
        <img src="assets/images/postman-icon_08.svg" alt="" class="slider-img">
        <p>Postman</p>
      </div>
      <div class="9">
        <img src="assets/images/typescript-icon_09.svg" alt="" class="slider-img">
        <p>Typescript</p>
      </div>
      <div class="10">
        <img src="assets/files/git-icon.svg" alt="" class="slider-img">
        <p>Git</p>
      </div>
      <div class="11">
        <img src="assets/images/ionic-icon_09.svg" alt="" class="slider-img">
        <p>Ionic</p>
      </div>
      <div class="11">
        <img src="assets/images/mongodb_10.svg" alt="" class="slider-img">
        <p>MongoDB</p>
      </div>
    </div>

    <div class="slider-btn slider-btn-rigth"  id="btn-rigth" (click)="next()">
      <img src="assets/images/rigth.svg" alt="" class="" width="50" height="50" >      
    </div>
    <div class="slider-btn slider-btn-left" id="btn-left" (click)="Preview()">
      <img src="assets/images/left.svg" alt="" class="" width="50" height="50" >
    </div>
  </div>
</div>
