<section class="description-container" id="Descripcion">
   <div class="description-content">
    <div class="content-description" >
        <h1>Breve descripción de mi perfil</h1>
        <p>Mi nombre es Cristian Luis y soy Desarrollador backend, soy de Perú, 
            estudié Computación e Informática en el Instituto Tecnológico Superior de Cibertec, 
            el área que más disfruto es el desarrollo web, porque me encanta crear grandes interfaces con el mejor diseño. 
            Mi lenguaje de programación favorito es Java y mis frameworks favoritos son Spring y Angular.
            Asimismo, estoy enfocado en la tecnología como herramienta aplicada al mercado laboral.
            Puedo desarrollar soluciones utilizando metodologías tecnológicas adecuadas y de calidad, participando el diseño propuesto por el cliente.</p>
    </div>
    <div class="content-tecnologias">
        <h1>Tecnologias que manejo</h1>
        <div>
            <ls-slider></ls-slider>
        </div>
    </div>
 </div>   
</section>
